body {
    background: #ccc;
    color: #000;
    font: normal 14px "Syntax", Helvetica, sans-serif;
	text-align: center;
}


h1 { 
    color: #000;
    font: "Syntax", Helvetica, sans-serif;
	font-size: 24px;
	text-align: center;
}


@media (max-width: 640px) {
	body {
		background: #fff;
	}

@media print {
	text-align: left;
}
